# --------------------------------------------------
# Terraform
# --------------------------------------------------

**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore only local tfvars
terraform.tfvars
terraform.tfvars.json

# Keep lock file
!.terraform.lock.hcl

# --------------------------------------------------
# macOS
# --------------------------------------------------

.DS_Store

# --------------------------------------------------
# VS Code
# --------------------------------------------------

.vscode/

# --------------------------------------------------
# Logs
# --------------------------------------------------

*.log